# Editor cruft
**/.vscode/

# Python cruft
**/*.pyc
**/__pycache__/*

# Build cruft
**/.lock*
**/build*/
**/.build/
_build
**/dist/
**/bin/
**/venv/*
*.o
lib_nn/lib

# macOS cruft
.DS_Store

# Misc cruft
**/*.local.*

# VI tmp files
*.swp
*.swo
*.swn

# tmp files
*~
*.*~
*log*

# test cruft
test/deps